<div class="container about">

  <h1><%= t('.definition_title') %></h1>

  <div class="history">

  <div class="text-history">
    <p><%= t('.definition_text_1') %></p>
  </div>

  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fgizmodo%2Fvideos%2Fvb.5718758966%2F10154156738708967%2F%3Ftype%3D3&show_text=0&width=560" width="540" height="340" padding-bottom="30" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

  </div>

    <p><%= t('.definition_text_2') %></p>

    <p><%= t('.definition_text_3') %></p>

  <h1><%= t('.our_services_title') %></h1>

  <p><%= t('.our_services_text') %></p>

      <div class="about_features">
        <div class="about_feature">
            <%=image_tag("enterprise_agency_solutions_available.png", width: '150')%>
            <h4><strong><%= t('.about_features_1_title') %></strong></h4>
            <p><%= t('.about_features_1_text') %></p>
        </div>
        <div class="about_feature">
            <%=image_tag("whitelabel_distribute_with_ease.png", width: '150')%>
            <h4><strong><%= t('.about_features_2_title') %></strong></h4>
            <p><%= t('.about_features_2_text') %></p>
            <%= link_to t("learn_more"), solution_path %>
        </div>
        <div class="about_feature">
            <%=image_tag("over_10_available_features_integrations.png", width: '150')%>
            <h4><strong><%= t('.about_features_3_title') %></strong></h4>
            <p><%= t('.about_features_3_text') %></p>
            <%= link_to t("Learn more"), features_path %>
        </div>
        <div class="about_feature">
            <%=image_tag("fully_hosted_solution.png", width: '150')%>
            <h4><strong><%= t('.about_features_4_title') %></strong></h4>
            <p><%= t('.about_features_4_text') %></p>
        </div>
      </div>

  <h1><%= t('.our_vision_title') %></h1>

  <p><%= t('.our_vision_text_1') %></p>

  <p><%= t('.our_vision_text_2') %></p>

</div>
