<div class="container features_page">

  <% @non_footer_action %>

  <div class="left-menu">
    <p><strong><%= t('.summary') %></strong></p>
    <ul class="list-unstyled" style="line-height: 30px;">
      <li><a href="#web_plugins" style="text-decoration: none;"><%= t('.web_plugins') %></a></li>
      <li><a href="#order_updates"><%= t('.order_updates') %></a></li>
      <li><a href="#messenger_code"><%= t('.messenger_code') %></a></li>
      <li><a href="#structured_templates"><%= t('.structured_templates') %></a></li>
      <li><a href="#carousels"><%= t('.carousels') %></a></li>
      <li><a href="#geolocation"><%= t('.geolocation') %></a></li>
      <li><a href="#user_controls"><%= t('.user_controls') %></a></li>
    </ul>

    <p style="padding-top: 40px"><strong><%= t('.coming_soon') %></strong></p>
    <ul class="list-unstyled" style="line-height: 30px;">
      <li><a href="#gif_integration"><%= t('.gif_integration') %></a></li>
      <li><a href="#clickable_cards"><%= t('.clickable_cards') %></a></li>
      <li><a href="#payment"><%= t('.payment') %></a></li>
    </ul>
  </div>

  <div class="feature-display">
    <h2><%= t('.features') %></h2>

    <h3 id="web_plugins"><%= t('.web_plugins') %></h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p><%= t(".web_plugins_text_1") %></p>
        <p><%= t('.web_plugins_text_2') %></p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("web_plugin.png", class: "feature_image")%>
      </div>
    </div>

    <hr>

    <h3 id="order_updates"><%= t('.order_updates') %></h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p><%= t('.order_updates_text') %></p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("order_updates.png", class: "feature_image")%>
      </div>
    </div>

    <hr>

    <h3 id="messenger_code"><%= t('.messenger_code') %></h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p><%= t('.messenger_code_text_1') %></p>
        <p><%= t('.messenger_code_text_2') %></p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("my_hipster_store_messenger_code.png", class: "feature_image")%>
      </div>
    </div>

    <hr>

    <h3 id="structured_templates"><%= t('.structured_templates') %></h3>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p><%= t('.structured_templates_text') %></p>
      </div>
      <div class="col-xs-12 col-sm-8 text-center">
      <%=image_tag("structured_templates.png", class: "feature_image_large")%>
      </div>
    </div>

    <hr>

<h3 id="carousels"><%= t('.carousels') %></h3>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p><%= t('.carousels_text') %></p>
      </div>
      <div class="col-xs-12 col-sm-8 text-center">
      <%=image_tag("carousel.png", class: "feature_image_large")%>
      </div>
    </div>

    <hr>

    <h3 id="geolocation"><%= t('.geolocation') %></h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p><%= t('.geolocation_text_1') %></p>
        <p><%= t('.geolocation_text_2') %></p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("geolocation.jpg", class: "feature_image")%>
      </div>
    </div>

    <hr>

    <h3 id="user_controls"><%= t('.user_controls') %></h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p><%= t('.user_controls_text_1') %></p>
        <p><%= t('.user_controls_text_2') %></p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("user_control.png", class: "feature_image")%>
      </div>
    </div>

  </div>
</div>
