$(".messages").empty();
$(".details-body").empty();
<% @messages.each do |m| %>
  <% if m.content.present? %>
    <% if m.content.include?("attachment") %>
      <% if eval(m.content)[:attachment][:payload][:template_type] == "generic" %>
        $(".messages").append("<%= j render 'messages/structured_message_carousel', message: eval(m.content) %>");
      <% elsif eval(m.content)[:attachment][:payload][:template_type] == "button" %>
         $(".messages").append("<%= j render 'messages/structured_message_button', message: eval(m.content) %>");
      <% elsif eval(m.content)[:attachment][:payload][:template_type] == "receipt" %>
        $(".messages").append("<%= j render 'messages/structured_message_receipt', message: eval(m.content) %>");
      <% else %>
        $(".messages").append("<%= j render 'messages/text_message', message: m %>");
      <% end %>
    <% else %>
      $(".messages").append("<%= j render 'messages/text_message', message: m %>");
    <% end %>
  <% end %>
<% end %>


$(".details-body").append("<h3>Chat info</h3>\
                          <p>Company name:</p>\
                          <p>Creation date: <%= @room.created_at %></p>\
                          <p>Chat main purpose:</p>\
                          <p># of sessions:</p>\
                          <p># of users:</p>\
                          <h3>User info</h3>\
                          <p>First name:</p>\
                          <p>Local time:</p>\
                          <p># of sessions:</p>\
                          <p> </p>\
                          <h3>Chat/User info</h3>\
                          <p>First conversation date:</p>\
                          <p>Total number of sessions:</p>\
                          <p>Current conversation starting date:</p>\
                          <p># of messages in current session:</p>\
                          <p># of help required in this session:</p>");
